<!DOCTYPE html>
<html lang="en">
  <body>
    <!--<h1>Intelligent CV or Resume Screening</h1>
    <h2>Welcome, {{ username }}</h2>
    <h1>Welcome to the Home Page</h1>
    <p><a href="/logout">Logout</a></p>
    <p><a href="/login">Login</a> or <a href="/register">Register</a></p>
    <ul>
      <li><a href="/job_list">Live Job </a></li>
      <li><a href="/insert_job_offer">Post a Job </a></li>
      <li>
        <a href="/train_model">Train Model for check Similarity a Resume</a>
      </li>
      <li><a href="/single_cv_upload">Upload Resume</a></li>
      <li><a href="/train">Train for Recommended Skills</a></li>
      <li><a href="/search">Top Job with Recommended Skills</a></li>
      <li>
        <a href="/display">All Resumes Rank as Company and Job position</a>
      </li>
      <li><a href="/top_jobs">Top Jobs in 2024 (From DB)</a></li>
      <li><a href="/top_skills">Top Skills (Recommended) (From DB)</a></li>
    </ul>  -->
    {% extends 'base.html' %} {% block content %} {% include 'sidebar.html' %}
    <!-- <h1>Welcome to the Home Page</h1>
    Your home page content here
    <p><a href="/logout">Logout</a></p>
    <p><a href="/login">Login</a> or <a href="/register">Register</a></p> -->

    {% endblock %}
  </body>
</html>
