<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        alert("Form submitted successfully!");
        window.location.href = "/insert_job_offer";
        // window.location.href = '/another_page';
      });
    </script>
  </head>
  <body>
    <p>This page will automatically redirect in a few seconds...</p>
    <p>Thank you for your submission!</p>
  </body>
</html>
